CommunityMgmt/CommunityMgmt.App/gulp/node_modules/*
CommunityMgmt/CommunityMgmt.App/bower_components/*
CommunityMgmt/CommunityMgmt.App/bin/*
CommunityMgmt/CommunityMgmt.App/obj/*
CommunityMgmt/CommunityMgmt.App/build/*
CommunityMgmt/packages/*
