<md-content>
    <div layout="row" layout-align="center center" style="min-width: 1000px;">
        <md-card flex-gt-sm="90" flex-gt-md="80">
            <md-card-content>
                <md-list>
                    <div layout="row" layout-sm="column" layout-align="space-around">
                        <md-progress-circular class="theme-topic-title" md-mode="indeterminate" ng-if="topics.length == 0"></md-progress-circular>
                    </div>
                    <md-list-item class="md-3-line" ng-repeat="item in topics" ng-if="topics.length != 0">
                        <img ng-src="{{item.Img[0]}}?{{$index}}" class="md-avatar" alt="{{item.who}}" style="width: 105px;
                                      height: auto;    margin-top: 37px!important;"
                             ng-click="displayImg(item,$event)" />
                        <div class="md-list-item-text" layout="column">
                            <h2 class="theme-topic-title " style="-webkit-margin-after: 0.1em!important;font-size: 1.3em;">{{::item.Title }}</h2>
                            <h4>by {{::item.Creator }} at {{item.PubDate | momentFormat:'M/D/YYYY h:m A'}}</h4>

                            <p layout="row">
                                <md-chips ng-repeat="tag in item.Tags">
                                    <md-chip class="theme-color">{{tag}}</md-chip>
                                </md-chips>
                            </p>

                            <a href="{{::item.Link}}" target="_blank">
                                <ng-md-icon icon="open_in_browser" size="25" class="theme-font md-secondary md-hue-3 md-primary"></ng-md-icon>
                            </a>
                            <md-divider></md-divider>
                        </div>
                    </md-list-item>

                </md-list>

                <div layout="row" layout-align="center center">

                    <md-button class="md-fab theme-sub-color" aria-label="Add rule ">
                        <ng-md-icon icon="add" size="25"></ng-md-icon>
                        <md-tooltip>
                            More
                        </md-tooltip>
                    </md-button>

                </div>

            </md-card-content>
        </md-card>
    </div>
</md-content>
