<md-content>
    <div layout="row" layout-align="center center" >
        <md-card flex-gt-sm="90" flex-gt-md="80">
            <md-card-content>
                <md-list>
                    <h2>Topics</h2>

                    <md-subheader class="md-no-sticky">Techblog betclic</md-subheader>
                    <div layout="row" layout-sm="column" layout-align="space-around">
                        <md-progress-circular md-mode="indeterminate" ng-if="topics.length == 0"></md-progress-circular>
                    </div>
                    <md-list-item class="md-3-line" ng-repeat="item in topics" ng-if="topics.length != 0">
                        <img ng-src="{{item.Img[0]}}?{{$index}}" class="md-avatar" alt="{{item.who}}" style="width: 125px;
                                      height: auto;"
                             ng-click="displayImg(item,$event)" />
                        <div class="md-list-item-text" layout="column">
                            <h2>{{::item.Title }}</h2>
                            <p style="max-width: 90%">{{::item.Description }}</p>
                            <a href="{{::item.Link}}" target="_blank">
                                <ng-md-icon icon="open_in_browser" size="25" style="color: rgb(144,229,252);" class="md-secondary md-hue-3 md-primary"></ng-md-icon>
                            </a>
                            <md-divider></md-divider>
                        </div>
                    </md-list-item>

                </md-list>
                <md-item layout class="inset">
                    <md-button layout layout-align="start center" flex class="md-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z" /></svg> More
                    </md-button>
                </md-item>
            </md-card-content>
        </md-card>
    </div>
</md-content>
