<!DOCTYPE html>
<html ng-app="CmtMgmt">
<head>
    <meta charset="utf-8" />
    <title>Chrome Extension test page</title>
    <link rel="stylesheet" type="text/css" charset="ISO-8859-1" href="build/CmtMgmt.css">
</head>
<body>
    <div class="body">
      @RenderBody()
    </div>
    <script type="text/javascript" charset="ISO-8859-1" src="build/CmtMgmt.libs.js"></script>
    <script type="text/javascript" charset="ISO-8859-1" src="build/CmtMgmt.app.js"></script>
    <script type="text/javascript" charset="ISO-8859-1" src="bower_components/angular-material/angular-material.min.js"></script>


</body>
</html>

