
body {
    background-color: #ecf0f1 !important;
}

md-content.md-default-theme {
    background-color: #ecf0f1;
}

.md-avatar {
    border-radius: 25% !important;
    margin-top: 25px !important;
}

md-chips .md-chips {
    box-shadow: none;
}

.theme-color {
    background: #16a085 !important;
    color: white !important;
}

.theme-sub-color {
    background: #2980b9 !important;
    color: white !important;
}

.theme-font {
    color: #16a085 !important;
}

.theme-title {
    color: #9b59b6 !important;
}

.theme-topic-title {
    color: #2980b9;
}
